body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
address {
  font-style: normal;
}
.container {
  width: 1158px;
  padding: 15px;

  margin: 0 auto;
}
.header-container {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
  text-transform: uppercase;
  display: inline-block;
}
.header-pathlogo {
  color: #2e2f42;
}
.header-menu-list {
  display: flex;
  gap: 40px;
}
.header-menu-item {
}
.header-menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.header-menu-link:hover {
  color: #404bbf;
}
.header-menu-link:focus {
  color: #404bbf;
}

.header-contact {
  font-style: normal;
}
.header-contact-list {
  display: flex;
  gap: 40px;
}
.header-contact-item {
}
.header-contact-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-contact-link:hover {
  color: #404bbf;
}
.header-contact-link:focus {
  color: #404bbf;
}

/*=================================================================*/

.hero {
}

.hero-container {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  max-width: 496px;
  margin-bottom: 48px;
  margin: 0 auto;
  padding-bottom: 48px;
}
.hero-btn {
  background-color: #4d5ae5;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  margin: 0 auto;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/*==================================*/
.accomplishments {
  padding-top: 120px;
  padding-bottom: 120px;
}

.accomplishments-list {
  display: flex;
  gap: 24px;
}
.accomplishments-item {
  width: 264px;
}
.accomplishments-subtitle {
  margin-bottom: 8px;
}
.accomplishments-item-text {
}
/*===========================*/
.our-team {
  background-color: #f4f4fd;
  /*padding-top: 120px;
  padding-bottom: 120px;*/
}
.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  gap: 24px;
}
.our-team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.werk-name {
  padding-top: 32px;
  padding-bottom: 32px;
}
.our-team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.our-team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/*======================================================*/
.our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.our-portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.our-portfolio-item {
  width: calc((100% - 48px) / 3);
}
.application {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.our-portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*========================================*/

.footer {
  background-color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 100px 0;
}
.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}
.footer-pathlogo {
  color: #f4f4fd;
  max-width: 264px;
}
/*=======================================*/

.accomplishments-subtitle {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.accomplishments-item-text {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
